/*icons-style*/
.style-icons-bar{
    font-size: 15px;
    color: #ffffff;
}

/*font-style*/
#sidebar > ul > li{
    color: #000 !important;
}

#sidebar > ul > li {
	border-top: 1px 
            solid #fff; 
        border-bottom: 1px 
            solid #fff;
}


.style-sidebar > ul li{
    border-bottom: 1px
        solid #fff !important;
}

/*subelements-font-colors*/
.style-sidebar > ul li ul li a{ 
    color:#000 !important;
} 

/*subelements-box-colors*/
#sidebar > ul li ul {
	background-color: #CAEBF2;
} 

/*subelements-font-box-hover-colors*/
.style-sidebar > ul li ul li a:hover, .style-sidebar > ul li ul li.active a {
	color: #fff !important;
	background-color: #000 !important;
}

body{
    background-color: #2E363F;
}

/*success style*/
.success{
    text-align: center;    
}

.success h1{
    font-size: 70px;
    font-weight: bold;
    padding: 50px 0;
    color: #FF3B3F;
}

.success h3{
    font-size: 20px;
    font-weight: bold;    
    color: #000;
}

.success p{
    font-size: 15px;
    color: #000;
}


.title-style{
    text-align: center;
    padding-top: 15px;
}